body {
    margin: 0;
    background-color: black;
}

#root {
    height: 100vh;
    box-sizing: border-box;
    padding: 1rem 3rem;
    text-align: center;
}

#root h1 {
    margin: 0;
    font-family: 'Press Start 2P', Consolas, monospace;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
}

#root canvas{
    background-color: rgba(71, 75, 79, 1);
    display: block;
    margin: 0 auto;
    border: 4mm ridge rgba(106, 120, 133, 1);
    background-size: calc(100% / 15) calc(100% / 20);
    opacity: 0.8;
    background-image:  linear-gradient(rgba(71, 75, 79, 1) 1px, transparent 1px),
    linear-gradient(to right, rgba(71, 75, 79, 1) 1px, rgb(112, 122, 128) 1px);
} 

.flag {
    margin: 10px auto;
    height: 120px;
    width: 280px;
}

.flagColor {
    color: transparent;
    height: 33%;
}